.container {
	width: 100%;

	background-color: var(--color-white);

	padding: 15px 15px;

	border-radius: var(--radius-m);
	border: 1px solid var(--color-border);
}

@keyframes Spinning {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.icon {
	width: 30px;
	height: 30px;

	animation: Spinning 20s linear infinite;
}

.title {
	font-weight: 600;
	font-size: 17px;
}

.progressData {
	color: var(--color-gray-200);

	font-weight: 600;

	span:last-child {
		color: var(--color-primary);
	}
}

.problemContainer {
	margin-top: 20px;

	background-color: var(--color-gray-030);

	padding: 7px;

	border-radius: var(--radius-m);
}

.problem {
	background-color: var(--color-white);

	border-radius: var(--radius-s);

	padding: 12px 15px;

	.level {
		font-weight: 700;
		font-size: 16px;
	}

	.ratio {
		color: var(--color-gray-400);

		font-size: 14px;
	}

	&[data-solved='true'] {
		background-color: var(--color-gray-030);
	}
}

.empty {
	color: var(--color-gray-500);

	font-size: 16px;

	margin: 20px auto;
}
