.container {
	background-color: var(--color-green-light);
	color: var(--color-green);

	height: 50px;

	padding: 0 15px;

	border-radius: var(--radius-s);

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 16px;
	font-weight: 600;
}

.value {
	font-size: 16px;
	font-weight: 400;
}
