.container {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
}

.main {
	width: 100%;
	max-width: var(--max-width);

	margin: 40px auto 0 auto;
	padding: 0 20px;

	display: flex;
	align-items: flex-start !important;
}

.left {
	width: 100%;
}

.title {
	font-size: 28px;
	font-weight: 500;

	margin: 0;
}

.right {
	width: 380px;
}

.submit {
	width: 380px;
	height: 45px;

	color: var(--color-white);
	background-color: var(--color-primary);

	font-size: 15px;
	font-weight: 500;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border: 0;
	border-radius: var(--radius-m);
}

.problemLimit {
	width: 50%;

	border: 1px solid var(--color-border);
	border-radius: var(--radius-m);

	padding: 15px;

	display: flex;
	flex-direction: column;
	gap: 10px;

	.limitTitle {
		color: var(--color-gray-400);

		gap: 5px;

		span {
			font-size: 15px;
			font-weight: 500;
		}
	}

	.limitValue {
		font-size: 17px;
		font-weight: 500;
	}
}

.problemSummaryContainer {
	list-style: none;

	margin: 22px 0 0 0;
	padding: 0;

	li {
		width: 100%;

		display: flex;
		justify-content: space-between;

		padding: 7px 0;

		font-size: 15px;
		font-weight: 500;

		span:first-child {
			color: var(--color-gray-200);
		}

		span:last-child {
			color: var(--color-gray-600);
		}
	}
}

.memoTitle {
	margin-top: 40px;
	font-weight: 500;
}

.memo {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 150px;

	border: 1px solid var(--color-border);

	margin-top: 12px;
	padding: 10px;

	font-size: 14px;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: var(--color-gray-400);
	}
}

.modalClose {
	color: var(--color-gray-400);
	background-color: var(--color-white);

	width: 30px;
	height: 30px;

	border: 0;
	border-radius: var(--radius-ss);

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	&:hover {
		background-color: var(--color-gray-030);
	}

	&:active {
		background-color: var(--color-gray-050);
	}
}

.submitModal {
	width: 100%;
	max-width: 600px;
	height: 100%;
	max-height: 90%;

	margin: 0 20px;

	display: flex;
	flex-direction: column;
}

.editor {
	font-size: 40px;

	border: 1px solid var(--color-border);

	span {
		font-family: "JetBrains Mono", monospace !important;
	}
}

.submitModalHeader {
	justify-content: space-between;

	padding: 5px 0;
	margin-bottom: 10px;

	h2 {
		font-size: 18px;
		font-weight: 500;

		margin: 0;
	}
}

// 제출 현황

.submitTitle {
	font-weight: 500;
}

.submitUpdate {
	font-size: 14px;
	font-weight: 500;
	color: var(--color-gray-400);

	background-color: transparent;

	border: 0;
	border-radius: var(--radius-ss);

	padding: 5px 8px;
	margin: 0 -8px 0 0;

	display: flex;
	align-items: center;
	gap: 5px;

	&:hover {
		background-color: var(--color-gray-030);
	}
}

.submitContainer {
	width: 100%;

	gap: 10px;

	margin-top: 15px;
}

.submitItem {
	padding: 15px;

	display: flex;
	flex-direction: column;

	border-radius: var(--radius-s);
	border: 1px solid var(--color-border);

	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.submitDate {
	color: var(--color-gray-400);

	font-weight: 500;
	font-size: 13px;

	cursor: pointer;
}

.submitLanguage {
	color: var(--color-gray-200);

	font-weight: 500;
	font-size: 14px;

	margin-bottom: 10px;
}

.submitStatus {
	font-weight: 600;
	font-size: 16px;
}

.submitData {
	margin-top: 10px;

	color: var(--color-gray-400);

	font-size: 14px;
	font-weight: 500;

	b {
		font-weight: 500;
	}
}

.submitViewCode {
	border: 0;
	border-radius: var(--radius-ss);

	background-color: var(--color-gray-050);
	color: var(--color-gray-500);

	font-weight: 600;
	font-size: 12px;

	padding: 5px 10px;
}

// 마크다운
.markdown {
	font-family: 'Noto Sans KR', sans-serif;

	max-width: 90%;

	pre {
		font-family: 'JetBrains Mono', monospace;

		background-color: var(--color-gray-030);

		border-radius: var(--radius-ss);
		border: 1px solid var(--color-gray-050);

		padding: 10px 10px;

		font-size: 14px;

		opacity: 0.7;
	}

	p {
		font-size: 16px;
		font-weight: 400;

		margin-bottom: 10px;

		line-height: 32px;

		opacity: 0.7;
	}

	// 이미지는 미리보기를 위해 투명도를 제거
	p:has(img) {
		opacity: 1;

		// 이미지를 가운데 정렬
		display: flex;
		justify-content: center;

	}

	a {
		color: var(--color-primary-dark);

		text-decoration: underline;
	}

	img {
		max-width: 400px;
		max-height: 350px;

		margin: 0 auto;
	}
}

.testcase {
	border: 1px solid var(--color-border);
	border-radius: var(--radius-ss);

	display: flex;

	div {
		padding: 15px;
		min-width: 100px;

		span {
			opacity: 0.5;
		}

		pre {
			margin-bottom: 0px;
		}
	}

	div:first-child {
		border-right: 1px solid var(--color-border);
	}
}

.successModal {
	width: 100%;
	max-width: 400px;

	margin: 0 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.modalTitle {
	font-size: 18px;
	font-weight: 500;

	margin: 10px;

	b {
		color: var(--color-primary);

		font-weight: 500;
	}
}

.successModalRate {
	width: 100%;
	height: 40px;

	font-size: 14px;
	font-weight: 500;

	color: var(--color-gray-500);

	border: 0;
	border-radius: var(--radius-s);

	display: flex;
	justify-content: center;
	align-items: center;

	gap: 5px;

	background-color: var(--color-gray-030);
}

.successModalClose {
	color: var(--color-white);
	background-color: var(--color-primary);

	width: 100%;
	height: 40px;

	font-size: 14px;
	font-weight: 500;

	border: 0;
	border-radius: var(--radius-s);

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

.rateModal {
	width: 100%;
	max-width: 400px;

	margin: 0 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.rateModalLabel {
	font-size: 15px;
	font-weight: 500;
}

.rateModalTextarea {
	width: 100%;
	height: 100px;

	border: 1px solid var(--color-border);
	border-radius: var(--radius-ss);

	padding: 10px;

	font-size: 14px;

	resize: none;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: var(--color-gray-400);
	}
}

.rateModalSelect {
	width: 100%;
	height: 40px;

	border: 1px solid var(--color-border);
	border-radius: var(--radius-ss);

	padding: 10px;

	font-size: 14px;

	&:focus {
		outline: none;
	}
}

.rateModalSubmit {
	width: 100%;
	height: 45px;

	color: var(--color-white);
	background-color: var(--color-primary);

	font-size: 15px;
	font-weight: 500;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 0;
	border-radius: var(--radius-s);

	cursor: pointer;
}

.doesntWork {
	width: 100%;

	background-color: var(--color-gray-030);

	margin-top: 30px;
	padding: 13px 17px;

	border-radius: var(--radius-ss);

	color: var(--color-gray-400);

	font-size: 14px;
	font-weight: 500;

	display: flex;
	justify-content: flex-start;
	gap: 7px;
}
