.container {
	width: 100%;
	max-width: var(--max-width);

	padding: 0 20px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}


.title {
	margin-bottom: 5px;
}

.content {
	opacity: 0.5;

	font-weight: 500;
}
